JavaApplication2/xml-resources/web-service-references/CTWebService/wsdl/joao-inspiron-7460_8080/chungtoiwsb-11100088/CTWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.ct.distribuida.br/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.ct.distribuida.br/">

<xs:element name="ehMinhaVez" type="tns:ehMinhaVez"/>

<xs:element name="ehMinhaVezResponse" type="tns:ehMinhaVezResponse"/>

<xs:element name="encerraPartida" type="tns:encerraPartida"/>

<xs:element name="encerraPartidaResponse" type="tns:encerraPartidaResponse"/>

<xs:element name="movePeca" type="tns:movePeca"/>

<xs:element name="movePecaResponse" type="tns:movePecaResponse"/>

<xs:element name="obtemOponente" type="tns:obtemOponente"/>

<xs:element name="obtemOponenteResponse" type="tns:obtemOponenteResponse"/>

<xs:element name="obtemTabuleiro" type="tns:obtemTabuleiro"/>

<xs:element name="obtemTabuleiroResponse" type="tns:obtemTabuleiroResponse"/>

<xs:element name="posicionaPeca" type="tns:posicionaPeca"/>

<xs:element name="posicionaPecaResponse" type="tns:posicionaPecaResponse"/>

<xs:element name="preRegistro" type="tns:preRegistro"/>

<xs:element name="preRegistroResponse" type="tns:preRegistroResponse"/>

<xs:element name="registraJogador" type="tns:registraJogador"/>

<xs:element name="registraJogadorResponse" type="tns:registraJogadorResponse"/>

<xs:element name="temPartida" type="tns:temPartida"/>

<xs:element name="temPartidaResponse" type="tns:temPartidaResponse"/>

<xs:complexType name="ehMinhaVez">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ehMinhaVezResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registraJogador">
<xs:sequence>
<xs:element name="nome" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registraJogadorResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="temPartida">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="temPartidaResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="encerraPartida">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="encerraPartidaResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtemOponente">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtemOponenteResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="preRegistro">
<xs:sequence>
<xs:element name="nome1" type="xs:string" minOccurs="0"/>
<xs:element name="id1" type="xs:int"/>
<xs:element name="nome2" type="xs:string" minOccurs="0"/>
<xs:element name="id2" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="preRegistroResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="movePeca">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="pos" type="xs:int"/>
<xs:element name="sent" type="xs:int"/>
<xs:element name="numCasas" type="xs:int"/>
<xs:element name="orient" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="movePecaResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtemTabuleiro">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtemTabuleiroResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="posicionaPeca">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="pos" type="xs:int"/>
<xs:element name="orient" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="posicionaPecaResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>